<html>
<body>

{{^user}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter your username"/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

Messages from: {{name}}

<form action="/addmessage" method="post">
    <input type="text" name="message" placeholder="Write your message"/>
    <button type="submit">Submit</button>
</form>
{{/user}}
<br>

<ol>
    {{#messages}}
    <li>
        {{text}}
        <form action="/editmessage" type="put" style="display: inline-block;">
            <input type="hidden" name="id" value="{{id}}"/>
            <button type="submit"><strong>Edit</strong></button>
            </form>
        <form action="/deletemessage" method="post" style="display: inline-block">
            <input type="hidden" name="id" value="{{id}}"/>
            <br>
            <button type="submit"><strong>Delete</strong></button>
        </form>
    </li>
    {{/messages}}
</ol>

</body>
</html>