<html>
<body>

{{^user}}
<form action="login" method="post">
    <input type="text" name="username" placeholder="Enter your username"/>
    <button type="submit">Login</button>
</form>
{{/user}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
{{#user}}
Messages from: {{name}}

<form action="/add-message" method="post">
    <input type="text" name="text" placeholder="Write your message"/>
    <button type="submit">Submit</button>
</form>
<br>

<ol>{{#messagelist}}
    <li>
        {{text}}
        <form action="/delete-message" method="post" style="display: inline-block">
            <input type="hidden" name="id" value="{{id}}"/>
            <br>
            <button type="submit"><strong>Delete</strong></button>
        </form>
    </li>
    {{/messagelist}}
</ol>
{{/user}}
</body>
</html>